<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Solo debug: simular avisos desde adb (ver DebugPushReceiver). -->
        <receiver
            android:name=".push.DebugPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="mx.nexara.DEBUG_PUSH" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
